/* Variables
   ========================================================================== */

:root {
  --wildGreen: #bade52;
  --bgCol:  #f0f8ff;
  --light:  #fff;
  --lightgrey: #d4d4d4;
  --yellow: #FFEB3B;
}
