@import './css/variables.css';


/* Style
   ========================================================================== */

html {
  background-color: var(--bgCol);
  font-family: 'Lato';
  font-weight: 300;
}

body {
  margin: 0;
}


.header {
  background-color: var(--light);
  padding: 1em;
  border-bottom: 1px solid var(--lightgrey);
}
.title {
  text-transform: uppercase;
  margin: 0;
  font-size: 2rem;
}

.container {
  display: inline-block;
  background-color: var(--light);
  margin: 2em 1em 12em 1em;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}
